section.add
	form(name='add', ng-submit='addTaskForm()')
		label(for='desc') Task Description
		textarea(name='desc', ng-model='desc')
		label(for='due_date') Due Date (MM/DD/YYYY)
		input(type='text', name='due_date', ng-model='dueDate')
		input(type='submit', value='Add Task')