section.add
	form(name='add')
		label(for='desc') Task Description
		textarea(name='desc')
		label(for='due_date') Due Date (MM/DD/YYYY)
		input(type='date', name='due_date')
		input(type='submit', value='Add Task')