
<section class="list">
  <div class="searchInput">
    <input type="search" name="query" placeholder="Search tasks ..." ng-model="searchQuery"/>
  </div>
  <ul>
    <li ng-repeat="task in tasks | filter:searchQuery">
      <div class="item_complete">
        <input ng-attr-id="{{ 'chk_' + task.id }}" type="checkbox" name="item_complete" ng-checked="{{ task.complete }}" ng-click="changeCompleteStatus(task,$event)"/>
      </div>
      <div class="item_delete"><a href="#/list" ng-attr-id="{{ 'del_' + task.id }}" ng-click="remove(task.id)">Delete</a></div>
      <div class="item_title">{{task.desc}}</div>
      <div class="item_due">{{task.due | date:'MM-dd-yyyy'}}</div>
    </li>
  </ul>
</section>