section.list
	.searchInput
		input(type='search', name='query', placeholder='Search tasks ...', ng-model='searchQuery')
	ul
		li(ng-repeat='task in tasks | filter:searchQuery')
			.item_complete
				input(ng-attr-id="{{ 'chk_' + task.id }}", type='checkbox', name='item_complete', ng-checked="{{ task.complete }}", ng-click='changeCompleteStatus(task,$event)')
			.item_delete
				a(href='#/list', ng-attr-id="{{ 'del_' + task.id }}", ng-click='remove(task.id)') Delete
			.item_title {{task.desc}}
			.item_due {{task.due | date:'MM-dd-yyyy'}}